/*
.carousel-item{
    max-height: 700px;
}
*/

div.img{
    width: 100%;
    height: 600px;
    border: 1px rounded;
}



/* se da estilo a la api de maps*/
iframe{
    width: 100%;
    height: 450px;
    border: 2px rounded;
}